html {
  /* Reset 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Crete Round', serif;
}

* {
  box-sizing: border-box;
}

body   {
  background: #343d46;
}

#content-wrap {
  max-width: 96rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a[data-goto-page], a[data-goto-details] {
  cursor: pointer;
}

header {
  display: flex;
  padding: 15rem 5rem 5rem;
}

.filter {
  display: flex;
  padding: 0 5rem;
}

.filter > input {
  flex: 1;
  font-size: 4.8rem;
  font-family: inherit;
  padding: 1rem;
  margin: -1rem;
  background: #272c31;
  color: #d3e3ea;
  border: 0;
}

.page.inactive {
  display: none;
}

.page-header {
  flex: 0.25;
  font-size: 4.8rem;
  color: #d3e3ea;
}

.page-header.inactive {
  opacity: 0.5;
}

.showtime {
  display: flex;
  flex-flow: row wrap;
  padding: 5rem;
}

.showtime-time {
  flex: 1;
  font-size: 9.6rem;
  color: #d3e3ea;
}

.showtime-info {
  flex: 3;
  padding: 1.5rem 0 0 5rem;
}

.showtime-title, .empty {
  font-size: 4.8rem;
  color: #93cce4;
  line-height: 1.1em;
}

.showtime-language {
  color: #2e8ab1;
}

.showtime-location {
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-top: 2.5rem;
  color: #2e8ab1;
  letter-spacing: .8rem;
}

.details {
  background: #343d46;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.details.active {
  display: flex;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 96rem;
  margin: 0 auto;
  overflow-y: scroll;
}

.details-controls {
  padding: 2rem 0;
  text-align: right;
} .details-controls button {
  /* Disable for now; it is only a visual cue and may not be needed at all */
  display: none;
}

.showtime-description {
  font-size: 3.6rem;
  margin: 2.5rem 0 5rem;
  color: #2e8ab1;
}

.details .showtime-title {
  margin-top: 2rem;
}

.details .showtime-image {
  width: 100%;
  object-fit: scale-down;
}
