html {
  /* Reset 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Crete Round', serif;
}

* {
  box-sizing: border-box;
}

body   {
  background: #343d46;
}

#content-wrap {
  max-width: 96rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a[data-goto-page] {
  cursor: pointer;
}

header {
  display: flex;
  padding: 15rem 5rem 5rem;
}

.filter {
  display: flex;
  padding: 0 5rem;
}

.filter > input {
  flex: 1;
  font-size: 4.8rem;
  font-family: inherit;
  padding: 1rem;
  margin: -1rem;
  background: #272c31;
  color: #d3e3ea;
  border: 0;
}

.page.inactive {
  display: none;
}

.page-header {
  flex: 0.25;
  font-size: 4.8rem;
  color: #d3e3ea;
}

.page-header.inactive {
  opacity: 0.5;
}

.showtime {
  display: flex;
  flex-flow: row wrap;
  padding: 5rem;
}

.showtime-time {
  flex: 1;
  font-size: 9.6rem;
  color: #d3e3ea;
}

.showtime-info {
  flex: 3;
  padding: 1.5rem 0 0 5rem;
}

.showtime-title, .empty {
  font-size: 4.8rem;
  color: #93cce4;
  line-height: 1.1em;
}

.showtime-language {
  color: #2e8ab1;
}

.showtime-location {
  font-size: 3.6rem;
  text-transform: uppercase;
  margin-top: 2.5rem;
  color: #2e8ab1;
  letter-spacing: .8rem;
}
