body {
  font-family: 'Crete Round', serif;
}

* {
  box-sizing: border-box;
}

body   {
  background: #343d46;
}

a {
  text-decoration: none;
  color: inherit;
}

a[data-goto-page] {
  cursor: pointer;
}

header {
  display: flex;
  padding: 150px 50px 50px;
}

.filter {
  display: flex;
  padding: 0 50px;
}

.filter > input {
  flex: 1;
  font-size: 30px;
  padding: 10px;
  margin: -10px;
  background: #272c31;
  color: #d3e3ea;
  border: 0;
}

.page.inactive {
  display: none;
}

.page-header {
  flex: 0.25;
  font-size: 48px;
  color: #d3e3ea;
}

.page-header.inactive {
  opacity: 0.5;
}

.showtime {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
}

.showtime-time {
  flex: 1;
  font-size: 96px;
  color: #d3e3ea;
}

.showtime-info {
  flex: 3;
  padding: 15px 0 0 50px;
}

.showtime-title {
  font-size: 48px;
  color: #93cce4;
  line-height: 1.1em;
}

.showtime-language {
  color: #2e8ab1;
}

.showtime-location {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 25px;
  color: #2e8ab1;
  letter-spacing: 8px;
}
