<html>
<head>
  <title>our kino</title>
  <meta charset="utf-8">
  <link href="./css/reset.css" rel="stylesheet">
  <link href="./css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
</head>
<body>
  <div id="content-wrap">
    <header>
      {{- $classList := "" -}}
      {{range $day, $showtimes := .ByTime}}
      <h3 class="page-header {{ $classList }}"><a data-goto-page="{{ $day }}">{{ $day.Format "Jan 2" }}</a></h3>
      {{- $classList = "inactive" -}}
      {{end}}
    </header>
    <div class="filter">
      <input type="text" placeholder="Filter by film/kino"/>
    </div>
    {{- define "showtime" -}}
        <li class="showtime" data-iso-time="{{ .ShowtimeISO }}" data-text-search="{{ .SearchIndex }}">
          <div class="showtime-time">{{ .ShowtimeDisplay }}</div>
          <div class="showtime-info">
            <div class="showtime-title">
              <span data-goto-details="{{ .DetailsIndex }}">{{ .Film }}</span>
              {{- if .Language}}
                <span class="showtime-language">{{ .Language }}</span>
              {{end -}}
            </div>
            <div class="showtime-location">{{ .Theatre }}</div>
          </div>
        </li>
    {{- end -}}
    {{- $classList := "" -}}
    {{range $day, $showtimes := .ByTime}}
    <div class="page {{ $classList }}" data-page="{{ $day }}">
      <ol class="showtimes">
      {{range $showtimes}}
        {{template "showtime" .}}
      {{else}}
        <li class="showtime"><p class="empty">No showtimes today :(</p></li>
      {{end}}
      </ol>
    </div>
    {{- $classList = "inactive" -}}
    {{end}}
    {{ range $key, $details := .Details }}
    <div class="details" data-details="{{ $key }}">
      <div class="details-wrapper">
        <div class="details-controls">
          <button class="close">×</button>
        </div>
        <div class="details-main">
          {{ if $details.Metadata }}
            <div class="details-poster-col">
              <img class="showtime-image" src="https://image.tmdb.org/t/p/w500{{ $details.Metadata.PosterPath }}" />
              {{ if $details.TicketURL }}
                <a href="{{ $details.TicketURL }}" target="_blank" class="ticket-button">Get Tickets</a>
              {{ end }}
            </div>
            <div class="details-text">
              <h3 class="showtime-title">{{ $details.Metadata.Title }}</h3>
              <div class="showtime-description">{{ $details.Metadata.Overview }}</div>
            </div>
          {{ else }}
            <div class="details-text">
              <h3 class="showtime-title">{{ $details.Film }}</h3>
            </div>
          {{ end }}
        </div>
        {{ if $details.Metadata }}
          <div class="tmdb-attribution">
            <a href="https://www.themoviedb.org/" target="_blank" title="Powered by TMDB">
              <span class="tmdb-powered">Powered by</span> <img src="./img/tmdb-logo-short.svg" alt="TMDB" />
            </a>
          </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  <script async src="./js/page.js"></script>
  {{if .GoogleAnalytics}}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{.GoogleAnalytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{.GoogleAnalytics}}');
  </script>
  {{end}}
</body>
