<html>
<head>
  <title>our kino</title>
  <meta charset="utf-8">
  <link href="./css/reset.css" rel="stylesheet">
  <link href="./css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
</head>
<body>
  <div id="content-wrap">
    <header>
      <h3 class="page-header"><a data-goto-page="today">Today</a></h3>
      <h3 class="page-header inactive"><a data-goto-page="tomorrow">Tomorrow</a></h3>
    </header>
    <div class="filter">
      <input type="text" placeholder="Filter by film/kino"/>
    </div>
    <div class="page" data-page="today">
      {{define "showtime"}}
      <li class="showtime" data-iso-time="{{ .ShowtimeISO }}" data-text-search="{{ .Search }}">
        <div class="showtime-time">{{ .ShowtimeDisplay }}</div>
        <div class="showtime-info">
          <div class="showtime-title">
            {{if .DeepLink}}<a href="{{ .DeepLink }}" target="_blank">{{end}}{{ .Film }}{{if .DeepLink}}</a>{{end}}
            {{if .Language}}
              <span class="showtime-language">{{ .Language }}</span>
            {{end}}
          </div>
          <div class="showtime-location">{{ .Theatre }}</div>
        </div>
      </li>
      {{end}}
      <ol class="showtimes">
      {{range .Today}}
        {{template "showtime"}}
      {{else}}
        <li class="showtime"><p class="empty">No showtimes today :(</p></li>
      {{end}}
      </ol>
    </div>
    <div class="page inactive" data-page="tomorrow">
      <ol class="showtimes">
      {{range .Tomorrow}}
        {{template "showtime"}}
      {{else}}
        <li class="showtime"><p class="empty">No showtimes tomorrow :(</p></li>
      {{end}}
      </ol>
    </div>
  </div>
  <script async src="./js/page.js"></script>
  {{if .GoogleAnalytics}}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{.GoogleAnalytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{.GoogleAnalytics}}');
  </script>
  {{end}}
</body>
