<li class="showtime" data-iso-time="{{ isoTime }}" data-text-search="{{ textSearch }}">
  <div class="showtime-time">{{ time }}</div>
  <div class="showtime-info">
    <div class="showtime-title">
      {{#if deepLink }}<a href="{{ deepLink }}" target="_blank">{{/if }}{{ title }}{{#if deepLink }}</a>{{/if }}
      {{#if language }}
        <span class="showtime-language">{{ language }}</span>
      {{/if }}
    </div>
    <div class="showtime-location">{{ location }}</div>
  </div>
</li>
